.clang_complete
.failed_tests
.previous_test_results.json
compile_commands.json
build

# Allow certain files in gold directories
!**/gold/*.e
!**/gold/*.e-s*
!**/gold/*.csv
!**/gold/*.vtk
!**/gold/*.vtu
!**/gold/*.pvtu

yaml_dump*

# test garbagge
*.FAILED.txt

# eclipse garbage
.project
.cproject
.metadata
.settings
.pydevproject

# vim garbage
*~
.*.swp
.*.swo

# Mac garbage
.DS_Store
*.dSYM

# Unit testing stuff
!unit/data/csv/*.csv

# gcov code coverage files
*.gcno
*.gcda
*.gcov

# paraview state files
*.pvsm

# Restartable Data
*.rd
*.rd-*

# Checkpoint Files
*.cpa
*.cpr
*.cpa-*
*.cpr-*

# JIT and automatic differentiation cache files
.jitcache/
.jitdir/

# Do not store ipython notebook checkpoints
*-checkpoint.ipynb*

# MooseDocs
site
*.moose.md
*.moose.yml
*.moose.svg
tmp_*.dot
docs/.moosedocs
docs/examples/*.tex
!docs/index.html
!docs/templates/**/*.html
!docs/content/media/**/*.png
!docs/content/media/**/*.gif
!python/MooseDocs/tests/**/gold/*.html
